Button {
    font-size: 50;   
}
.font-awesome {
    font-family: "FontAwesome", fontawesome-webfont;
}

.nav {
    font-size: 20;
    font-family: "Flexo-Bold";
}
.nav-id {
    color: white;
    margin: 5;
}
.nav-name {
    color: #616161;
    margin: 5;
}
.nav-arrow {
    color: #616161;
    background-color: white;
    font-size: 16;
    border-radius: 12;
    height: 24;
    width: 24;
    text-align: center;
}

#prevNav {
    margin-right: 5;
}
#nextNav {
    margin-left: 5;
}

.font-awesome {
    font-family: "FontAwesome", fontawesome-webfont;
}

.play {
    color: #212121;
    font-size: 24;
    margin-left: 5;
}

.cell {
    margin: 10;
}
#id {
    color: #616161;
    font-size: 24;
    font-family: "Flexo-Demi",Arial, Helvetica, sans-serif;
    margin-left: 5;
}

#name {
    color: #212121;
    font-size: 24;
    font-family: "Flexo-Demi",Arial, Helvetica, sans-serif;
}
#pokemon {
    background-color: #EFEFEF;
}
.description {
    margin-top: 10;
    margin-bottom: 20;
    font-size: 22;
    line-height: 30;
    font-family: "Flexo-Regular",Arial, Helvetica, sans-serif;
}

.info-container {
    margin-bottom: 20;
    background-color: #30a7d7;
    border-radius: 20;
    padding: 20;
    padding-bottom: 5;

    font-family: "Flexo-Medium";
}

.info-title {
    margin-bottom: 10;
    color: white;
    font-size: 20;
}

.info-value {
    margin-bottom: 15;
    color: #212121;
    font-size: 24;
}

.stats {
    background-color: #a4a4a4;
    border-radius: 20;
    padding: 20;

    font-family: "Flexo-Medium";
}

.stats-title {
    color: #313131;
    margin-bottom: 15;
}

.meter-first, .meter-last {
    margin-left: 5;
}

.meter {
    padding-left: 3;
    padding-right: 3;
}

.meter-value {
    background-color: white;
    margin-bottom: 4;
    height: 9;
}

.active {
    border-color: #30a7d7;
}

.meter-label {
    color: #212121;
    font-family: "Roboto";
    text-align: center;
    font-size: 12;
}