.font-awesome {
    font-family: "FontAwesome", fontawesome-webfont;
}

.nav {
    font-size: 20;
    font-family: "Flexo-Bold";
}
.nav-id {
    color: white;
    margin: 5;
}
.nav-name {
    color: #616161;
    margin: 5;
}
.nav-arrow {
    color: #FFFFFF;
    font-size: 16;
    height: 24;
    width: 24;
    text-align: center;
}
.nav-background {
    background-color: #DDDDDD;
}
#prevNavText, #nextNavText {
    margin-left: 5;
    margin-right: 5;
}
#prevNav {
    margin-right: 5;
}
#nextNav {
    margin-left: 5;
}

.font-awesome {
    font-family: "FontAwesome", fontawesome-webfont;
}

.play {
    color: #212121;
    font-size: 24;
    margin-left: 5;
}

.play-large {
    color: #DDDDDD;
    font-size: 75;
    text-align: center;
}

.cell {
    margin: 10;
}
#id {
    color: #616161;
    font-size: 24;
    font-family: "Flexo-Demi",Arial, Helvetica, sans-serif;
    margin-left: 5;
}

#name {
    color: #212121;
    font-size: 24;
    font-family: "Flexo-Demi",Arial, Helvetica, sans-serif;
}
#pokemon {
    background-color: #EFEFEF;
    border-radius: 20;
    margin-bottom: 20;
}
.description {
    margin-top: 10;
    margin-bottom: 20;
    font-size: 22;
    line-height: 30;
    font-family: "Flexo-Regular",Arial, Helvetica, sans-serif;
}

.info-container {
    margin-bottom: 20;
    background-color: #30a7d7;
    border-radius: 20;
    padding: 20;
    padding-bottom: 5;

    font-family: "Flexo-Medium";
}

.info-title {
    margin-bottom: 10;
    color: white;
    font-size: 20;
}

.info-value {
    margin-bottom: 15;
    color: #212121;
    font-size: 24;
}

.stats {
    background-color: #a4a4a4;
    border-radius: 20;
    padding: 20;

    font-family: "Flexo-Medium";
}

.stats-title {
    color: #313131;
    margin-bottom: 15;
}

.meter-first, .meter-last {
    margin-left: 5;
}

.meter {
    padding-left: 3;
    padding-right: 3;
}

.meter-value {
    background-color: white;
    margin-bottom: 4;
    height: 9;
}

.active {
    border-color: #30a7d7;
}

.meter-label {
    color: #212121;
    font-family: "Roboto";
    text-align: center;
    font-size: 12;
}

.type-heading {
    font-size: 22;
    font-family: "Flexo-Regular",Arial, Helvetica, sans-serif;
    margin-bottom: 20;
}
.type-types {
    margin-bottom: 25;
}
.type-item {
    border-radius: 10;
    margin-right: 20;
}
.type-name {
    font-size: 18;
    color: white;
    margin: 5;
}
.type-name-left {
    margin-left: 25;
}
.type-name-right {
    margin-right: 25;
}

.top.type-bug { background-color: #729f3f; }
.bottom.type-bug { background-color: #729f3f; }

.top.type-dark { background-color: #707070; }
.bottom.type-dark { background-color: #707070; }

.top.type-dragon { background-color: #53a4cf; }
.bottom.type-dragon { background-color: #f16e57; }

.top.type-electric { background-color: #eed535; }
.bottom.type-electric { background-color: #eed535; }

.top.type-fairy { background-color: #fdb9e9; }
.bottom.type-fairy { background-color: #fdb9e9; }

.top.type-fighting { background-color: #d56723; }
.bottom.type-fighting { background-color: #d56723; }

.top.type-fire { background-color: #fd7d24; }
.bottom.type-fire { background-color: #fd7d24; }

.top.type-flying { background-color: #3dc7ef; }
.bottom.type-flying { background-color: #bdb9b8; }

.top.type-ghost { background-color: #7b62a3; }
.bottom.type-ghost { background-color: #7b62a3; }

.top.type-grass { background-color: #9bcc50; }
.bottom.type-grass { background-color: #9bcc50; }

.top.type-ground { background-color: #f7de3f; }
.bottom.type-ground { background-color: #ab9842; }

.top.type-ice { background-color: #51c4e7; }
.bottom.type-ice { background-color: #51c4e7; }

.top.type-normal { background-color: #a4acaf; }
.bottom.type-normal { background-color: #a4acaf; }

.top.type-poison { background-color: #b97fc9; }
.bottom.type-poison { background-color: #b97fc9; }

.top.type-psychic { background-color: #f366b9; }
.bottom.type-psychic { background-color: #f366b9; }

.top.type-rock { background-color: #a38c21; }
.bottom.type-rock { background-color: #a38c21; }

.top.type-steel { background-color: #9eb7b8; }
.bottom.type-steel { background-color: #9eb7b8; }

.top.type-water { background-color: #4592c4; }
.bottom.type-water { background-color: #4592c4; }

.evo {
    background-color: #595959;
    padding: 20;
    border-radius: 20;
    background-image: url('~/images/container_bg.png');
    margin-bottom: 20;
}

.evo-heading, .evo-name {
    color: white;
    font-size: 22;
    margin-bottom: 10;
    font-family: "Flexo-Regular", Arial, Helvetica, sans-serif;
}
.evo-item {
    margin: 10;
    text-align: center;
}
.evo-image {
    background-color: #595959;
    border-radius: 50;
    border-width: 3;
    border-color: white;
}
.evo-name {
    margin-top: 20;
    font-size: 18;
}
.evo-id {
    font-size: 18;
    color: #a4acaf;
}
.evo-arrow {
    color: white;
    font-size: 30;
}
.evo-hidden {
    visibility: collapsed;
}